.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo img{
width: 79px;
height: 79px;
}

.navbaar-links a{
    color: #150101;
font-family: 'Roboto', sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.navbaar-links{
    display: flex;
    gap: 40px;
}
.navbar-button button{
    width: 165px;
    height: 49px;
    border-radius: 5px;
background: #D23166;
border:none;

color: #FAFAFA;
font-family: 'Hind Madurai',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.navbaar-links a:hover{
    color: #D23166;
}
.active{
    color: #D23166 !important;
font-family: 'Roboto',sans-serif !important;
font-size: 15px !important;
font-style: normal !important;
font-weight: 700 !important;
line-height: normal !important;
}
.header{
    border-bottom: 2px solid rgba(0, 0, 255, 0.268);
    padding-top:15px;
    background-color: #00d5ffd8;
}